<h1>Name: <%= @student.to_s %></h1>

<%if @student.active == false%>
<h1>This student is currently inactive.</h1>
<%else%>
<h1>This student is currently active.</h1>
<%end%>
<%= button_to "Toggle Status", activate_student_path %>
